<ion-view class="agenda-view">
  <ion-nav-title>
  Tes
    <!-- <span ng-controller="KecepatanCtrl">{{title}}</span> -->
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-background-ijo-muda tabs-color-light">
  
  <!-- <ion-tab title="Home" icon-on="kecepatan" icon-off="kecepatan_abu" href="#/kecepatan"> -->
  <ion-tab title="Home" icon-on="kecepatan" icon-off="kecepatan_abu" href="#/app/tab/kecepatan">
    <!-- Tab 1 content -->
    <ion-nav-view name="kec"></ion-nav-view>
    <!-- <div ng-view></div> -->
    <!-- <h1>Kecepatan</h1> -->
  </ion-tab>

  <ion-tab title="About" icon-on="alkohol" icon-off="alkohol_abu" href="#/app/tab/alkohol">
    <!-- Tab 2 content -->
    <ion-nav-view name="alkohol"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="posisi" icon-off="posisi_abu" href="#/app/tab/posisi">
    <!-- Tab 3 content -->
    <ion-nav-view name="posisi"></ion-nav-view>
  </ion-tab>

</ion-tabs>
