<ion-view class="venue-view">
  <ion-nav-title>
    <span>Venue</span>
  </ion-nav-title>
  <!-- <ion-content> -->
    <!-- <h1>Venue</h1> -->
    <ion-content ng-controller="VenueCtrl" ng-init="initialize()">
      <div id="map" data-tap-disabled="true"></div>
    <!-- </ion-content> -->
    
    <!-- <div class="float-button">
 		<span class="height-fix">
    		<a class="content">
      		<i class="ion-ios-arrow-up"> </i>
    		</a>
    	</span>
 	</div>
 	<ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
        </ion-floating-button> -->
  </ion-content>
</ion-view>